
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/AngularJs/myapp.js"></script>
<script src="~/AngularJs/logincontroller.js"></script>
<script src="~/AngularJs/studentcontroller.js"></script>
<script src="~/AngularJs/employeecontroller.js"></script>
<h2>Index</h2>
<div ng-app="ngRoutingDemo">
    <div ng-view>

    </div>
</div>

